@import components/mixin

.candidat
    padding-top: 150rem
    padding-bottom: 50rem
.candidat-container
    padding-bottom: 15rem
    gap: 30rem
    justify-content: space-between
    flex-direction: column
    align-items: center
    +media(640)
        align-items: flex-start
        flex-direction: row
.candidat-about
    +media(640)
        width: 50%

.candidate-photo_container
    width: 60%
    padding: 45rem
    border-radius: 5rem
    background-color: #f3f3f3
    order: -1
    +media(640)
        width: 40%
        order: 0

.candidate-photo
    border-radius: 5rem
    background-color: #cd7933
    

.candidate-name
    font-size: 36rem
    letter-spacing: 2rem
    font-weight: 700
    text-align: center
    +media(640)
        text-align: left

.candidate-direction
    padding: 15rem 0 35rem
    text-align: center
    font-size: 24rem
    color: $colorAccent
    font-weight: 600
    +media(640)
        text-align: left
.candidate-description
    margin-bottom: 30rem
    p
        font-size: 16rem
        padding-bottom: 15rem
.candidate-skills
    padding: 35rem
    text-align: center
    background-color: #f3f3f3
    border-radius: 5rem
.scills-container
    flex-direction: column
    gap: 50rem
    +media(450)
        flex-direction: row
        

.main-scills,
.other-scills
    width: 100%
    h4
        font-size: 20rem
        font-weight: 700
    +media(450)
        width: 50%

.scills-items
    padding-top: 25rem
.scills-item
    margin-bottom: 10rem
    padding: 10rem 30rem
    min-height: 60rem
    background-color: #fff
    border-radius: 25rem
    justify-content: space-between 
    align-items: center 
    .flex
        align-items: center  
.skils-item__name
    font-size: 16rem
    font-weight: 700
.skils-item__experience
    font-size: 16rem
.skils-item__logo
    margin-right: 10rem
    max-width: 40rem

// employment

.employment-title
    margin-bottom: 35rem
    font-size: 36rem
    letter-spacing: 2rem
    font-weight: 700

.employment-container 
    margin: 0 auto
    padding-left: 27px
    position: relative
    max-width: 715rem
    &::before
        content: ""
        position: absolute
        width: 2px
        height: calc(100% - 30rem)
        left: 0
        bottom: 0
        background-color: $colorAccent

.employment-item
    margin-bottom: 60rem
    font-size: 16rem
    &:last-child
        margin-bottom: 0
    li
        margin-bottom: 15rem
.employment-position
    padding-bottom: 10rem
    font-size: 24rem
    color: $colorAccent
    font-weight: 600
    position: relative
    &::before
        content: ""
        position: absolute
        left: -26px
        top: 50%
        width: 16px
        height: 16px
        background-color: $colorAccent
        border-radius: 50%
        transform: translate(-50%, -50%)
.sub-title
    font-size: 18rem
    font-weight: 700
.employment-experience
    margin-bottom: 25rem
.tehnologies
    align-items: center
    flex-wrap: wrap
    gap: 5rem
    .sub-title
        padding-right: 25rem
.tehnologies-item
    background-color: #f3f3f3
    border-radius: 25rem
    padding: 10rem 20rem
    align-items: center
    min-height: 60rem