footer.footer
    .wrapper.flex.footer-container
        .footer-description
            .copyright.flex 
                a(href="#")  Privacy Policy  
                a(href="#") Terms of Service
                a(href="#") Do Not Sell My Personal Information
            p Omega Data Software 2009 – 2023. All rights reserved.
        .logo.flex
                a(href="index.html") 
                img(src="img/omega.svg", alt="")
                p Omega Data Software
