header#main
    .header.lock-padding
        .header-container.flex.wrapper
            .logo.flex
                a(href="index.html") 
                img(src="img/omega.svg", alt="")
                p Omega Data Software
            .flex.menu
                a.btn.mobile-btn.popup-link(href="#popup") hire us
                .menu-icon
                    span 
                nav.menu-body
                    ul.menu-list.flex
                        +menu(menu, "scroll-to menu-link")
            a.btn.popup-link.desctop-btn(href="#popup") hire us
